.hide {
  display: none;
}
#header1 {
  color: green;
  font-family: "Times New Roman", Verdana, Courier New;
}
#header1:hover{
  color: teal;
}
#input-val{
  width: 400px;
	color: black;
  text-align: left;
	height: 30px;
	font-size: 25px;
  /*box-shadow: 5px 10px;*/
}
.pw-strength-wrapper {
  width: 300px;
  margin-top: 20px;
  height: 20px;
  text-align: left;
}
.indicator {
  height: 100%;
  font-size:12px;
  text-align:center;
  padding-top:5px;
}

.inidicator span{
  color:#fff;
  position:relative;
  top: 3px;
  letter-spacings:1px;
}
.red {
  width: 75px;
  background-color: red;
  margin-left:80px;
}
.orange {
  width: 150px;
  background-color: orange;
  margin-left:50px;
}
.yellow {
  width: 225px;
  background-color: yellow;
  margin-left:50px;
}
.blue {
  width: 300px;
  background-color: blue;
}
.green {
  width: 375px;
  background-color: green;
  margin-left:-20px;
}
.perc{
  display: inline;
  font-size: 20px;
}
.err-msg {
  font-size: 20px;
  color: red;
}
